@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PPNeueMontreal";
    src: url("/fonts/PPNeueMontreal-Book.otf");
    src: url("../public/fonts/PPNeueMontreal-Book.otf");
}

@layer components {

}