@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PPNeueMontreal";
    src: url("/fonts/PPNeueMontreal-Book.otf");
    src: url("../public/fonts/PPNeueMontreal-Book.otf");
}

@layer components {
    .footer {
        @apply font-bold text-white text-[30px] md:text-[35px] lg:text-[40px]
    }

    .mmi-h1 {
        @apply font-inter font-black text-7xl lg:text-8xl w-full flex justify-center mt-28
    }
           
    .mmi-texte {
        @apply lg:text-3xl text-2xl xl:text-4xl
    }
}