@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PPNeueMontreal";
    src: url("/fonts/PPNeueMontreal-Book.otf");
    src: url("../public/fonts/PPNeueMontreal-Book.otf");
}

@layer components {
    .footer {
        @apply font-bold text-white font-inter text-[30px] md:text-[35px] lg:text-[40px]
    }
}